# Expo
.expo/
.expo-shared/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# Node
node_modules/
yarn-error.log

# IDEs
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store

# Env
.env
.env.local
.env.*.local

# Build
.next/
out/
build/

# Logs
logs
*.log
tokenHF